/* Kelly Luo Period 9 */

/* general */
.clearfloat {
	clear: both;
}

body {
	margin: 0px auto;
}

.italic {
	font-style: italic;
}

.underline {
    text-decoration: underline;
}

#footer p, .actorname, .navbarul, table.casting caption {
    text-transform: uppercase;
}

#container {
	margin: 0 auto;
}

/* header */

#header {
	margin-top: 0px;
}

/* header image */
.headerimage {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* navbar */

#navbar {
	background-color: black;
	height: 55px;
}

#nav {
    width: 800px;
    margin: 0 auto;
}

.navbarul {
    display: inline-block;
	list-style-type: none;
	font-size: 16px;
	font-family: 'Source Sans Pro', 'Arial Narrow', Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
}

.navbarli {
	float: left;
	text-align: center;
	width: 125px;
}

#navbar a:link {
	text-decoration: none;
    color: #ffffff;
}

#navbar a:visited {
	text-decoration: none;
    color: #ffffff;
}

#navbar a:hover {
	border-bottom: 3px solid #ffffff;
	color: #ffffff;
}

#navbar a:active {
    border-bottom: 3px solid #f7e5a6;
    color: #f7e5a6;
}

/* content */

#content {
	margin: 0 auto;
	width: 960px;
}

/* title */

#title {
	margin-top: -10px;
	width: 960px;
}

h1 {
	float: left;
	text-transform: lowercase;
	font-family: 'Source Sans Pro', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	color: #79cbda;
}

.titlebar {
	margin-top: 40px;
	float: right;
	width: 875px;
	height: 15px;
	background-color: #f7e5a6;
}

/* film content */

#filmcontent {
    width: 650px;
    float: left;
}
h3 { 
    border-left: 5px solid #f7e5a6;
    font-family: 'Source Sans Pro', 'Franklin Gothic', Arial, Helvetica, sans-serif; 
    font-style: italic;
    padding-left: 10px;
    color: #79cbda;
    font-size: 24px;
    float: left;
    margin: 5px 0px 10px 0px;
}

.pfilm {
    margin-top: -2px;
    float: left;
	font-family: 'Franklin Gothic', 'Arial Narrow', Arial, Verdana, sans-serif;
	font-size: 13px;
	width: 650px;
}

.nycimage {
    float: left;
    margin: 5px 10px 5px 0px;
}

.nycheader {
    width: 640px;
    height: 100px;
}

.nycsnapshots {
    width: 315px;
    height: 168px;
}
/* filmsidebar */

#filmsidebar {
    width: 240px;
    float: right;
}

/* table */

table.casting {
    float: right;
    text-align: center;
    border-collapse: collapse;
    width: 240px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', Tahoma, 'Arial Narrow', Arial, Verdana, sans-serif;
}

table.casting caption {
    color: #f4dcd3;
    background-color: #a77882;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
}

table.casting th {
    text-transform: lowercase;
    background-color: #b68d91;
    color: #ffffff;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    width: 125px;
}

table.casting td {
    padding-top: 3px;
    font-size: 12px;
    height: 16px;
}

/* character card */

.charactercard {
    width: 240px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', Tahoma, 'Arial Narrow', Arial, Verdana, sans-serif;
    margin-top: 15px;
}

.characterimage {
   width: 80px;
   height: 60px;
   float: left;
}

.characterbar {
    width: 160px;
    height: 30px;
    background-color: #b68d91;
    float: right;
}

.actorname {
    font-size: 16px;
    color: #ffffff;
    margin: 12px 0px 0px 5px;
}

.charactername {
    font-size: 12px;
    color: #000000;
    margin: 2px 0px 0px 5px;
}


/* footer */
#footer {
	height: 30px;
	background-color: #000000;
}

#footer p{
	font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
    margin-top: 40px;
}